.needList {
    color:white    
}

.needInfo {
    width: 50%;
    margin-left: 24rem;
    background-color: #d2d8904d;
    border-radius: 50px;
    outline: 2px solid black;
    padding: 10px;
    padding-left: 3rem;
    margin-bottom: 3rem;
    color:white;
}

.Modal {
    position: absolute;
    top: 20rem;
    left: 30rem;
    right: 30rem;
    bottom: 20rem;
    background-color: rgb(255, 248, 236);
}

.ModalText {
    margin: 5rem;
    text-align: center;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.247);
}

a {
    color:white;
}