body {
    text-align: center;
}

.needList {
    color:white    
}

.needInfo {
margin: auto;
width: 50%;
background-color: #d2d8904d;
border-radius: 50px;
outline: 2px solid black;
color:white;

}

a {
    color:white;
}

h3 {
    color:white;
    text-align: center;
}